node-red/src/backups/svgedit.json
{
    "flows": [
        {
            "id": "ce9a9ac9.780ed8",
            "type": "tab",
            "label": "Flow 1",
            "disabled": false,
            "info": ""
        },
        {
            "id": "5225bdce.a2b904",
            "type": "mqtt-broker",
            "z": "",
            "name": "Mqtt",
            "broker": "mqtt",
            "port": "1883",
            "clientid": "",
            "usetls": false,
            "compatmode": true,
            "keepalive": "60",
            "cleansession": true,
            "birthTopic": "messages",
            "birthQos": "0",
            "birthPayload": "Hola",
            "closeTopic": "",
            "closeQos": "0",
            "closePayload": "",
            "willTopic": "",
            "willQos": "0",
            "willPayload": ""
        },
        {
            "id": "b16c10da.8c781",
            "type": "ui_tab",
            "z": "",
            "name": "Home",
            "icon": "dashboard"
        },
        {
            "id": "55f510f7.495e7",
            "type": "ui_group",
            "z": "",
            "name": "Principal",
            "tab": "b16c10da.8c781",
            "disp": true,
            "width": "6",
            "collapse": false
        },
        {
            "id": "91d434d2.bbbcb8",
            "type": "ui_base",
            "theme": {
                "name": "theme-light",
                "lightTheme": {
                    "default": "#0094CE",
                    "baseColor": "#0094CE",
                    "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                    "edited": true,
                    "reset": false
                },
                "darkTheme": {
                    "default": "#097479",
                    "baseColor": "#097479",
                    "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                    "edited": false
                },
                "customTheme": {
                    "name": "Untitled Theme 1",
                    "default": "#4B7930",
                    "baseColor": "#4B7930",
                    "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                },
                "themeState": {
                    "base-color": {
                        "default": "#0094CE",
                        "value": "#0094CE",
                        "edited": false
                    },
                    "page-titlebar-backgroundColor": {
                        "value": "#0094CE",
                        "edited": false
                    },
                    "page-backgroundColor": {
                        "value": "#fafafa",
                        "edited": false
                    },
                    "page-sidebar-backgroundColor": {
                        "value": "#ffffff",
                        "edited": false
                    },
                    "group-textColor": {
                        "value": "#1bbfff",
                        "edited": false
                    },
                    "group-borderColor": {
                        "value": "#ffffff",
                        "edited": false
                    },
                    "group-backgroundColor": {
                        "value": "#ffffff",
                        "edited": false
                    },
                    "widget-textColor": {
                        "value": "#111111",
                        "edited": false
                    },
                    "widget-backgroundColor": {
                        "value": "#0094ce",
                        "edited": false
                    },
                    "widget-borderColor": {
                        "value": "#ffffff",
                        "edited": false
                    },
                    "base-font": {
                        "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                    }
                }
            },
            "site": {
                "name": "Node-RED Dashboard",
                "hideToolbar": "false",
                "allowSwipe": "false",
                "allowTempTheme": "true",
                "dateFormat": "DD/MM/YYYY",
                "sizes": {
                    "sx": 48,
                    "sy": 48,
                    "gx": 6,
                    "gy": 6,
                    "cx": 6,
                    "cy": 6,
                    "px": 0,
                    "py": 0
                }
            }
        },
        {
            "id": "cae1a46b.488828",
            "type": "mqtt in",
            "z": "ce9a9ac9.780ed8",
            "name": "",
            "topic": "/md/1",
            "qos": "0",
            "broker": "5225bdce.a2b904",
            "x": 130,
            "y": 100,
            "wires": [
                [
                    "22d42527.47a9fa"
                ]
            ]
        },
        {
            "id": "22d42527.47a9fa",
            "type": "debug",
            "z": "ce9a9ac9.780ed8",
            "name": "Mqtt Out - debug",
            "active": true,
            "tosidebar": true,
            "console": false,
            "tostatus": false,
            "complete": "payload",
            "x": 550,
            "y": 100,
            "wires": []
        },
        {
            "id": "45180f1.c3265f",
            "type": "inject",
            "z": "ce9a9ac9.780ed8",
            "name": "",
            "topic": "/md/1",
            "payload": "{\"styles\":{\"fill\":\"green\",\"stroke\":\"blue\"},\"attrs\":{\"r\":100,\"rx\":200}}",
            "payloadType": "json",
            "repeat": "",
            "crontab": "",
            "once": false,
            "onceDelay": 0.1,
            "x": 150,
            "y": 200,
            "wires": [
                [
                    "6170dfaa.d6fc3"
                ]
            ]
        },
        {
            "id": "6170dfaa.d6fc3",
            "type": "mqtt out",
            "z": "ce9a9ac9.780ed8",
            "name": "Mqtt Test",
            "topic": "",
            "qos": "",
            "retain": "true",
            "broker": "5225bdce.a2b904",
            "x": 580,
            "y": 200,
            "wires": []
        },
        {
            "id": "b68cb5a6.04f4b8",
            "type": "ui_colour_picker",
            "z": "ce9a9ac9.780ed8",
            "name": "",
            "label": "Relleno",
            "group": "55f510f7.495e7",
            "format": "hex",
            "outformat": "string",
            "showSwatch": true,
            "showPicker": false,
            "showValue": false,
            "showHue": false,
            "showAlpha": false,
            "showLightness": true,
            "dynOutput": "false",
            "order": 0,
            "width": 0,
            "height": 0,
            "passthru": true,
            "topic": "/md/1",
            "x": 160,
            "y": 300,
            "wires": [
                [
                    "e55e75e7.eced48"
                ]
            ]
        },
        {
            "id": "e55e75e7.eced48",
            "type": "function",
            "z": "ce9a9ac9.780ed8",
            "name": "fill",
            "func": "var attr = {\n    styles: {\n        fill: \"#\" + msg.payload\n    }\n}\n\nmsg.payload = attr;\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "x": 370,
            "y": 300,
            "wires": [
                [
                    "6170dfaa.d6fc3"
                ]
            ]
        },
        {
            "id": "7cce32be.8f123c",
            "type": "ui_colour_picker",
            "z": "ce9a9ac9.780ed8",
            "name": "",
            "label": "Trazo",
            "group": "55f510f7.495e7",
            "format": "hex",
            "outformat": "string",
            "showSwatch": true,
            "showPicker": false,
            "showValue": false,
            "showHue": false,
            "showAlpha": false,
            "showLightness": true,
            "dynOutput": "false",
            "order": 0,
            "width": 0,
            "height": 0,
            "passthru": true,
            "topic": "/md/1",
            "x": 150,
            "y": 360,
            "wires": [
                [
                    "93787ba1.f6ec48"
                ]
            ]
        },
        {
            "id": "93787ba1.f6ec48",
            "type": "function",
            "z": "ce9a9ac9.780ed8",
            "name": "stroke",
            "func": "var attr = {\n    styles: {\n        stroke: \"#\" + msg.payload\n    }    \n}\n\nmsg.payload = attr;\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "x": 380,
            "y": 380,
            "wires": [
                [
                    "6170dfaa.d6fc3"
                ]
            ]
        },
        {
            "id": "592dd4ae.87355c",
            "type": "function",
            "z": "ce9a9ac9.780ed8",
            "name": "RX",
            "func": "var attrs = {\n    attrs: {\n        rx: msg.payload\n    }\n}\n\nmsg.payload = attrs\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "x": 380,
            "y": 480,
            "wires": [
                [
                    "6170dfaa.d6fc3"
                ]
            ]
        },
        {
            "id": "ac3ce96d.ca4628",
            "type": "ui_numeric",
            "z": "ce9a9ac9.780ed8",
            "name": "",
            "label": "RX",
            "group": "55f510f7.495e7",
            "order": 0,
            "width": 0,
            "height": 0,
            "passthru": true,
            "topic": "/md/1",
            "format": "{{value}}",
            "min": 0,
            "max": "500",
            "step": "20",
            "x": 170,
            "y": 480,
            "wires": [
                [
                    "592dd4ae.87355c"
                ]
            ]
        },
        {
            "id": "b1db612d.6e3e9",
            "type": "function",
            "z": "ce9a9ac9.780ed8",
            "name": "RY",
            "func": "var attrs = {\n    attrs: {\n        ry: msg.payload\n    }\n}\n\nmsg.payload = attrs\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "x": 370,
            "y": 560,
            "wires": [
                [
                    "6170dfaa.d6fc3"
                ]
            ]
        },
        {
            "id": "ba6083d5.d28f8",
            "type": "ui_numeric",
            "z": "ce9a9ac9.780ed8",
            "name": "",
            "label": "RY",
            "group": "55f510f7.495e7",
            "order": 0,
            "width": 0,
            "height": 0,
            "passthru": true,
            "topic": "/md/1",
            "format": "{{value}}",
            "min": 0,
            "max": "500",
            "step": "20",
            "x": 170,
            "y": 560,
            "wires": [
                [
                    "b1db612d.6e3e9"
                ]
            ]
        },
        {
            "id": "30ee774d.fd1be8",
            "type": "function",
            "z": "ce9a9ac9.780ed8",
            "name": "stroke width",
            "func": "var attr = {\n    styles: {\n        \"stroke-width\": msg.payload\n    }    \n}\n\nmsg.payload = attr;\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "x": 410,
            "y": 640,
            "wires": [
                [
                    "6170dfaa.d6fc3"
                ]
            ]
        },
        {
            "id": "78c53c2e.79e2d4",
            "type": "ui_slider",
            "z": "ce9a9ac9.780ed8",
            "name": "",
            "label": "Grosor del trazo",
            "group": "55f510f7.495e7",
            "order": 0,
            "width": "6",
            "height": "2",
            "passthru": true,
            "topic": "/md/1",
            "min": 0,
            "max": "100",
            "step": 1,
            "x": 160,
            "y": 640,
            "wires": [
                [
                    "30ee774d.fd1be8",
                    "c603bfcc.ec075"
                ]
            ]
        },
        {
            "id": "c603bfcc.ec075",
            "type": "ui_gauge",
            "z": "ce9a9ac9.780ed8",
            "name": "",
            "group": "55f510f7.495e7",
            "order": 0,
            "width": 0,
            "height": 0,
            "gtype": "gage",
            "title": "Grosor del trazo",
            "label": "grosor",
            "format": "{{value}}",
            "min": 0,
            "max": "100",
            "colors": [
                "#00b500",
                "#e6e600",
                "#ca3838"
            ],
            "seg1": "30",
            "seg2": "60",
            "x": 430,
            "y": 700,
            "wires": []
        }
    ],
    "version": "2018-07-25T22:13:13.265Z"
}